<!DOCTYPE html>
<html charset="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">

    <head>
        <title>Book</title>
    </head>

    <div layout:fragment="content" th:object="${book}">
        <!-- 이미지 출력 -->
        <div style="float: left; width: 320px; height: 600px; margin-left: 100px; display: flex; justify-content: center; align-items: center;">
            <img th:src="*{imageUrl}" width="320px" height="400px">
        </div>
        <!-- 이미지 우측에 서적 상세 정보 출력 -->
        <div style="display:inline-block; margin-left: 50px; text-align: center; width: 600px;">
            <!-- ISBN, 고정값 -->
            <div style="display: flex; align-items: center; margin-left: 50px; width: 600px; height: 50px;
                        border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000;">
                <div th:text="#{book.isbn}" style="width: 90px;"></div>
                <div style="flex-grow: 1; border-left: 1px solid #000; padding-left: 15px; height: 100%;">
                    <span th:text="*{isbn}" style="display: flex; justify-content: center; align-items: center; height: 100%;"></span>
                </div>
            </div>
            <!-- 서적명 -->
            <div style="display: flex; align-items: center; margin-left: 50px; width: 600px; height: 100px;
                        border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000;">
                <div th:text="#{book.title}" style="width: 90px;"></div>
                <div style="flex-grow: 1; border-left: 1px solid #000; padding-left: 15px; height: 100%;">
                    <textarea id="title" th:field="*{title}" class="form-control" placeholder="서적명"
                              style="width: 100%; height: 100%; box-sizing: border-box;"></textarea>
                </div>
            </div>
            <!-- 저자 -->
            <div style="display: flex; align-items: center; margin-left: 50px; width: 600px; height: 50px;
                        border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000;">
                <div th:text="#{book.author}" style="width: 90px;"></div>
                <div style="flex-grow: 1; border-left: 1px solid #000; padding-left: 15px; height: 100%;">
                    <input type="text" id="author" th:field="*{author}" class="form-control" placeholder="저자"
                           style="width: 100%; height: 100%; box-sizing: border-box;">
                </div>
            </div>
            <!-- 출판사 -->
            <div style="display: flex; align-items: center; margin-left: 50px; width: 600px; height: 50px;
                        border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000;">
                <div th:text="#{book.publisher}" style="width: 90px;"></div>
                <div style="flex-grow: 1; border-left: 1px solid #000; padding-left: 15px; height: 100%;">
                    <input type="text" id="publisher" th:field="*{publisher}" class="form-control" placeholder="출판사"
                           style="width: 100%; height: 100%; box-sizing: border-box;">
                </div>
            </div>
            <!-- 발행일 -->
            <div style="display: flex; align-items: center; margin-left: 50px; width: 600px; height: 50px;
                        border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000;">
                <div th:text="#{book.publishDate}" style="width: 90px;"></div>
                <div style="flex-grow: 1; border-left: 1px solid #000; padding-left: 15px; height: 100%;">
                    <input type="date" id="publishDate" th:value="*{publishDate}" class="form-control"
                           style="width: 100%; height: 100%; box-sizing: border-box;">
                </div>
            </div>
            <!-- 서적 상세 설명 -->
            <div style="display: flex; align-items: center; margin-left: 50px; width: 600px; height: 300px;
                        border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                <div th:text="#{book.description}" style="width: 90px;"></div>
                <div style="flex-grow: 1; border-left: 1px solid #000; padding-left: 15px; height: 100%;">
                    <textarea id="description" th:field="*{description}" class="form-control" placeholder="상세 설명"
                              style="width: 100%; height: 100%; box-sizing: border-box;"></textarea>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <div style="display: flex; justify-content: center;">
            <div>
                <button class="w-100 btn btn-primary btn-lg" type="save" th:text="#{button.save}"
                        style="flex-grow: 1; width: 200px; height: 50px; text-align: center;
                                font-size: 20px; font-weight: bold;"></button>
            </div>
            <div>
                <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/admin/books}'|"
                        type="button" th:text="#{button.cancel}"
                        style="flex-grow: 1; width: 200px; height: 50px; text-align: center; margin-left: 10px;
                                font-size: 20px; font-weight: bold;"></button>
            </div>
        </div>
    </div>
</html>
