<!DOCTYPE html>
<html charset="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">

    <head>
        <title>New Books</title>
    </head>

    <div layout:fragment="content">
        <form method="post"
              action="/admin/book/new/save"
              id="newBookForm">
            <table class="table">
                <thead>
                    <tr>
                        <th th:text="#{book.new}" style="width: 80px; height: 50px;"></th>
                        <th th:text="#{book.imageUrl}" style="width: 80px; height: 50px;"></th>
                        <th th:text="#{book.isbn}" style="width: 80px; height: 50px;"></th>
                        <th th:text="#{book.title}" style="width: 200px; height: 50px;"></th>
                        <th th:text="#{book.author}" style="width: 150px; height: 50px;"></th>
                        <th th:text="#{book.publisher}" style="width: 150px; height: 50px;"></th>
                        <th th:text="#{book.originPrice}" style="width: 50px; height: 50px;"></th>
                        <th th:text="#{book.publishDate}" style="width: 100px; height: 50px;"></th>
                        <th th:text="#{book.description}" style="width: 300px; height: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td>
                            <input type="checkbox"
                                   id="add"
                                   name="add">
                            <input type="hidden"
                                   name="_add"
                                   th:value="on"/>
                        </td>
                        <td>
                            <img th:src="${book.imageUrl}" width="80" height="100">
                        </td>
                        <td>
                            <a th:text="${book.isbn}" th:href="@{/admin/book/new/{isbn}(isbn=${book.isbn})}" style="width: 80px; height: 100px;"></a>
                        </td>
                        <td>
                            <div th:utext="${book.title}" style="width: 200px; height: 100px; display: flex; align-items: center;"></div>
                        </td>
                        <td th:text="${book.author}" style="width: 150px; height: 100px;"></td>
                        <td th:text="${book.publisher}" style="width: 150px; height: 100px;"></td>
                        <th th:text="${book.originPrice}" style="width: 50px; height: 50px;"></th>
                        <td th:text="${book.publishDate}" style="width: 100px; height: 100px;"></td>
                        <td th:text="${#strings.length(book.description) &gt; 100 ? #strings.substring(book.description, 0, 100) + '...' : book.description}"
                            style="width: 300px; height: 100px;"></td>
                    </tr>
                </tbody>
            </table>

            <div style="display: flex; justify-content: center;">
                <button class="button"
                        type="submit"
                        onclick="submitForm()"
                        th:text="#{button.save}"></button>
                <button class="button"
                        th:onclick="|location.href='@{/admin/book/new}'|"
                        type="button"
                        th:text="#{button.cancel}"
                        style="margin-left: 10px;"></button>
            </div>
        </form>

        <script>
            function submitForm() {
                var form = document.getElementById('newBookForm');
                var checkboxes = form.querySelectorAll('input[type="checkbox"]');
                var selectedBooks = Array.from(checkboxes).map(function(checkbox) {
                  return checkbox.checked;
                });

                createInputField(form, 'selectedBooks', selectedBooks.join(','));

                form.submit();
            }

            function createInputField(form, name, value) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = name;
                input.value = value;
                form.appendChild(input);
            }
        </script>
    </div>
</html>
