<!DOCTYPE html>
<html charset="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">

    <head>
        <title>Search New Book</title>
    </head>

    <div layout:fragment="content">
        <form class="specific_view"
              method="post"
              action="/admin/book/new">
            <!-- 키워드 -->
            <div class="specific_view_frame"
                 style="margin-left: 0px; border-bottom: 1px solid #000; font-size: 15px;">
                <div class="specific_view_left_tag">
                    <input type="checkbox"
                           id="searchRecent"
                           name="searchRecent">
                    <input type="hidden"
                           name="_searchRecent"
                           value="on"/>
                </div>
                <div class="specific_view_right_div">
                    <input class="specific_view_right_input"
                           type="text"
                           id="keyword"
                           name="keyword"
                           placeholder="서적 키워드">
                </div>
            </div>

            <hr class="my-4">

            <div style="display: flex; justify-content: center;">
                <button class="button"
                        type="submit"
                        th:text="#{button.search}"></button>
                <button class="button"
                        th:onclick="|location.href='@{/admin/books}'|"
                        type="button"
                        th:text="#{button.cancel}"
                        style="margin-left: 10px;"></button>
            </div>
        </form>
    </div>
</html>
